
/*////////////////////
// шаблон "article" //
////////////////////*/

/* 980-330 */
/* широкий блок зліва, вузький справа */

#article
{
    display: grid;
    grid-template-columns: 1fr 330px; 
    gap: var(--gap);
    align-items: start;
}

@media(max-width:776px)
{
    #article
    {
        grid-template-columns: 1fr; 
    }    
}

#article-content 
{
    padding: var(--gap) 0 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap) calc(var(--gap)*2);
    grid-template-areas: 
        'article-header article-header'    
        'article-aside article-main'
        'article-posts article-posts'
}

@media(max-width:996px)
{
    #article-content 
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'article-header'    
            'article-main'
            'article-posts'
    }    
}

#article-content header 
{
    grid-area: article-header;
}

#article-content header h1 
{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

@media(max-width:776px)
{
    #article-content header h1
    {
        font-size: 25px;
        line-height: 30px;
        font-weight: 700;
    }
}

#article-content header p
{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 0 calc(var(--gap) + 5px);
}

@media(max-width:776px)
{
    #article-content header p
    {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
}

figure figcaption
{
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-align: right;
}

@media(max-width:776px)
{
    figure figcaption
    {
        text-align: center;
    }    
}

#article-content aside 
{
    grid-area: article-aside;
}

@media(max-width:996px)
{
    #article-content aside 
    {
        display: none;
    }    
}

/* До теми */
.appendix
{
    margin: var(--gap) 0;
}

.appendix li 
{
    display: block;
    /* margin: 0 0 calc(var(--gap) + var(--gap)/2);  */
    margin: 0 0 var(--gap); 
}

.appendix a 
{
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    transition: .5s;
}

.appendix a:hover,
.appendix a:focus
{
    color: var(--red);
}
/* До теми */

#article-content main 
{
    grid-area: article-main;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

/* картинка загубилася */
[class*="wp-image"]
{
    display: none;
}

#article-content main p 
{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 0 var(--gap);
}

#article-content main p strong 
{
    font-weight: 700;
}

#article-content .posts-3
{
    grid-area: article-posts;

    margin: var(--gap) 0;
    padding: var(--gap) 0;
    border-top: 1px solid var(--gray1);
    border-bottom: 1px solid var(--gray1);
}

@media(max-width:776px)
{
    #article-content .posts-3
    {
        grid-template-areas:
            'post-3-title post-3-title'
            'post-3-1 post-3-2'
    }
}

@media(max-width:500px)
{
    #article-content .posts-3
    {
        grid-template-areas:
            'post-3-title post-3-title'
            'post-3-1 post-3-2'
    }

    /* на головній відображається, а в окремій новині має все одно ховатися */
    #article-content .posts-3 .post:nth-of-type(3)
    {
        display: none;
    }

    /* на головній відображається заголовок 1 поста більшим шрифтом */
    #article-content .posts-3 .post:nth-of-type(1) h1,
    #article-content .posts-3 .post:nth-of-type(2) h1,
    #article-content .posts-3 .post:nth-of-type(3) h1
    {
        font-size: 18px;
    }
}

main a
{
    color: var(--red);
    transition: .5s;
}

main a:hover{
    color: var(--black);
}