
/* ////////
// автор //
//////// */

#category-content header
{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap);
    margin: 0 0 var(--gap);
    grid-template-areas: 'author-figure author-figcaption';
}

@media(max-width:450px)
{
    #category-content header
    {
        grid-template-columns: 1fr;
        grid-template-areas:
        'author-figcaption'
        'author-figure'
    }
}

#category-content header figure
{
    grid-area: author-figure;
}

#category-content header figcaption
{
    grid-area: author-figcaption;

    font-size: 14px;
}

#category-content header figcaption h1
{
    margin: 0 0 var(--gap)
}

#category-content header figcaption p
{
    font-style: italic;
    margin: 0 0 var(--gap);
}

.cv-social
{
    display: flex;
    gap: calc(var(--gap)/2);
}

.cv-social a
{
    text-decoration: none;
}

.cv-social svg 
{
    width: 22px;
    height: 22px;
}

.cv-social :hover svg
{
    fill: var(--red)
}

/* /////////////
// усі автори //
///////////// */

#authors
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap);
    padding: var(--gap) 0;
}

@media(max-width:540px)
{
    #authors
    {
        grid-template-columns: 1fr;
    }
}

#authors article
{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--gap);
    grid-template-areas: 
        'author-figure author-figcaption';
}

@media(max-width:776px)
{
    #authors article
    {
        align-self: flex-start;
        grid-template-columns: 1fr;
        grid-template-areas:
            'author-figure'
            'author-figcaption'
    }
}

#authors article figure
{
    grid-area: author-figure;
}

#authors article figcaption
{
    grid-area: author-figcaption;

    font-size: 14px;
}

#authors article h1
{
    margin: 0 0 var(--gap)
}

#authors article p
{
    font-style: italic;
    margin: 0 0 var(--gap);
}