#category 
{
    display: grid;
    grid-template-columns: 1fr 330px;
    gap: var(--gap);
}

@media(max-width:996px)
{
    #category 
    {
        grid-template-columns: 1fr;
    }    
}

#category-content 
{
    padding: var(--gap) 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--gap);
}

#categories .post 
{
    padding: var(--gap) var(--gap) 15px 0;
    border-bottom: 1px solid var(--gray1);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 70px 260px 1fr;
    grid-template-areas:
        'categories-post-service-data categories-post-picture categories-post-h1'
        'categories-post-service-data categories-post-picture categories-post-p';
    gap: var(--gap);
    align-items: start;
}

@media(max-width:776px)
{
    #categories .post 
    {
        grid-template-columns: 70px 200px 1fr;
    }
}

@media(max-width:500px)
{
    #categories .post 
    {
        /* grid-template-rows: auto; */
        grid-template-columns: 70px 1fr;
        grid-template-areas:
            'categories-post-service-data categories-post-picture'
            'categories-post-service-data categories-post-h1'
            'categories-post-service-data categories-post-p'
    }    
}

#categories .post .service-data
{
    grid-area: categories-post-service-data;
    flex-flow: column;
    gap: 0;
    align-items: flex-start;
}

#categories .post .picture
{
    grid-area: categories-post-picture;
}

@media(max-width:500px)
{
    #categories .post .picture
    {
        margin: 0;
    }    
}

#categories .post .picture picture
{
    background: var(--gray1);
}

#categories .post h1
{
    grid-area: categories-post-h1;
}

#categories .post p
{
    grid-area: categories-post-p;
}