

/* 375 -75- 850 */
#footer
{
    background: var(--footer-bg);
    color: var(--white);
    padding-top: var(--gap);
}

#footer a 
{
    color: var(--white);
    text-decoration: none;
}

#footer .wrapper 
{
    display: grid;
    grid-template-columns: 375px 1fr;
    gap: var(--gap) 75px;
    grid-template-areas: 
        'footer-left footer-right'
        'copyright copyright';
}

@media(max-width:996px)
{
    #footer .wrapper 
    {
        grid-template-areas: 
            'footer-left footer-right'
            'copyright copyright';
    }
}

@media(max-width:776px)
{
    #footer .wrapper 
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'footer-left'
            'footer-right'
            'copyright';
    }
}

/* логотип і підпис під ним */
#footer-left
{
    grid-area: footer-left;
}

@media(max-width:776px)
{
    #footer-left
    {
        text-align: center;
    }
}

#footer-left img 
{
    width: auto;
    max-width: 100%;
}

#footer-left p 
{
    font-size: 14px;
    line-height: 18px;
    color: var(--gray6);
    /* text-align: justify; */
}

@media(max-width:500px)
{
    #footer-left p 
    {
        text-align: center;
    }    
}

/* меню і правила під ним */
#footer-right
{
    grid-area: footer-right;

    align-self:  flex-end;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media(max-width:500px)
{
    #footer-right
    {
        gap: var(--gap);
    }
}

#footer-right p 
{
    font-size: 14px;
    line-height: 18px;
    width: 50%;
}

@media(max-width:996px)
{
    #footer-right p 
    {
        width: 100%;
    }    
}

@media(max-width:500px)
{
    #footer-right p 
    {
        text-align: center;
    }       
}

#footer-right nav ul
{
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

@media(max-width:500px)
{
    #footer-right nav ul
    {
        justify-content: center;
    }    
}

#footer-right nav li
{
    display: block;
}

#footer-right nav li a
{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    transition: .5s;
}

#footer-right nav li a:hover,
#footer-right nav li a:focus 
{
    color: var(--black);
}

/* цопірайт та соцкнопки */
#copyright
{
    grid-area: copyright;

    border-top: 1px solid var(--footer-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

@media(max-width:776px)
{
    #copyright
    {
        border: none;
        flex-direction: column;
    }
}

@media(max-width:500px)
{
    #copyright
    {
        margin: 0 -2.5%;
    }    
}

#copyright p 
{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

@media(max-width:776px)
{
    #copyright p 
    {
        order: 2;

        border-top: 1px solid var(--footer-border);
        padding: var(--gap);
        text-align: center;
    }
    
    #copyright .social
    {
        order: 1;
        padding: 0 0 var(--gap);
    }
}

#copyright a:hover, 
#copyright a:focus 
{
    text-decoration: underline;
} 