
/*/////////////////////////////////////
// перший блок під меню на головіній //
/////////////////////////////////////*/

#home-top 
{
    display: grid;
    /* 960*330 */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4,auto);
    gap: 0 var(--gap);
    grid-template-areas:
        'home-top-1 home-top-aside' 
        'home-top-2 home-top-aside' 
        'home-top-3 home-top-aside' 
        'home-top-4 home-top-aside';
}

/* блоки переміщаються неочевидним чином! */
@media(max-width:776px)
{
    #home-top 
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'home-top-1'
            'home-top-aside' 
            'home-top-2' 
            'home-top-3' 
            'home-top-4';
    }
}

/* головне */
#home-top-1
{
    grid-area: home-top-1;

    margin: var(--gap) 0;
    align-self: start;
}

/* львів */
#home-top-2
{
    grid-area: home-top-2;

    padding-bottom: var(--gap);
    align-self: start;
}

/* кримінал */
#home-top-3
{
    grid-area: home-top-3;

    padding: var(--gap) 0;
    border-top: 1px solid var(--gray2);
    align-self: start;
}

/* дорожні події */
#home-top-4
{
    grid-area: home-top-4;

    padding: var(--gap) 0;
    border-top: 1px solid var(--gray2);
    align-self: start;
}

/* на головній сайдбар іменований */
#home-top #aside 
{
    grid-area: home-top-aside;
}