/* перший блок під меню на головіній */
#home-top 
{
    display: grid;
    /* 960*330 */
    grid-template-columns: 2fr 1fr;
    grid-gap: var(--gap);
    
}

/* лівий блок */
.home-primary-main
{
    margin: var(--gap) 0;
    display: grid;
    grid-gap: var(--gap);
}

/* видаляємо вертикальний відступ */
.home-primary-main hr 
{
    margin: 0;
}

/* правий блок */
#home-top aside 
{
    background: var(--gray1);
    padding: var(--gap) 0;
}

#home-top aside .title 
{
    margin: 0 calc(var(--gap)/4*3);
}
