/* великий пост з фоновою картинкою */
.post-primary
{
    position: relative;
}

/* градієнтний тег */
.post-primary .tag 
{
    position: absolute;
    top: var(--gap);
    left: var(--gap);
    z-index: 2;
}

/* фонова картинка, .picture обнуляємо */
.post-primary .picture.static
{
    position: static;
    overflow: visible;
    padding-top: 0;
}

@media(max-width:996px)
{
    /* повертаємо рут-значення */
    .post-primary .picture.static
    {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }    
}

/* затемнення */
.post-primary::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

@media(max-width:996px)
{
    .post-primary::before 
    {
        display: none;
    }    
}

/* підпис до фото */
.post-primary .post-content 
{
    position: absolute;
    bottom: var(--gap);
    left: var(--gap);
    right: var(--gap);
    color: var(--white);
    z-index: 2;

    display: flex;
    flex-flow: column;
    gap: calc(var(--gap)/2);
}

@media(max-width:996px)
{
    .post-primary .post-content 
    {
        position: static;
        margin-top: var(--gap);
        color: var(--black);
    }    
}

.post-primary .post-content h1 
{
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
}

@media(max-width:996px)
{
    .post-primary .post-content h1
    {
        font-size: 21px;
        line-height: 24px;
        font-weight: 700;
    }
}

.post-primary .post-content h1 a 
{
    color: var(--white);
    text-decoration: none;
}

@media(max-width:996px)
{
    .post-primary .post-content h1 a 
    {
        color: var(--black);
    }
}

.post-primary .post-content .service-data 
{
    align-self: flex-start;
    border-top: 1px solid var(--white);
}

@media(max-width:996px)
{
    .post-primary .post-content .service-data 
    {
        border: none;
    }
}

.post-primary .post-content p
{
    font-size: 14px; 
    line-height: 20px;
    font-weight: 400;
}

.post-primary .service-data
{
    margin: 0;
}

.post-primary .service-data time 
{
    color: var(--white);
}

@media(max-width:996px)
{
    .post-primary .service-data time 
    {
        color: var(--gray5);
    }    
}

/* кількість коментів у пості */
.post-primary .service-data span 
{
    background: var(--white);
    color: var(--red);
}

@media(max-width:996px)
{
    .post-primary .service-data span 
    {
        background: var(--red-gradient);
        color: var(--white);
    }    
}