
/* пост у сайдбарі */
.preview
{
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 12px;
    margin: 0 var(--gap);
    padding: calc(var(--gap)/4*3) 0;
    position: relative;
}

.preview::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 1px;
    background: var(--gray4);
    display: block;
    z-index: 1;
}

.preview time
{
    font-size: 12px;
    line-height: 20px;
    color: var(--black);
    font-weight: 700;
    text-align: center;
}

.preview h1 a
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    display: block;
    transition: .5s;
}

.preview h1 a:hover,
.preview h1 a:focus
{
    color: var(--red);
}

/* відступ для 1 елемента */
.preview:nth-of-type(1)
{
    margin-top: var(--gap);
}

/* важливий пост, червоним */
.preview.important time
{
    color: var(--red);
}

.preview.important h1 a
{
    color: var(--red);
    font-weight: 800;
}
/* важливий пост, червоним */

/* пост з картинкою */
.preview.bg
{
    position: relative;
    display: block;
    padding: 0;
}

.preview.bg::before 
{
    display: none;
}

@media(max-width:996px)
{
    .preview.bg
    {
        padding: calc(var(--gap)/4*3) 0;
    }
    
    .preview.bg::before 
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 1px;
        background: var(--gray4);
        display: block;
        z-index: 1;
    }

    .preview.bg .picture
    {
        padding: 0;
    }
}

@media(max-width:776px)
{
    .preview.bg
    {
        position: relative;
        display: block;
        padding: 0;
    }
    
    .preview.bg::before 
    {
        display: none;
    }

    .preview.bg .picture
    {
        padding-top: 56.25%;
    }
}

.preview.bg .picture::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

@media(max-width:996px)
{
    .preview.bg .picture::before
    {
        display: none;
    }    

    .preview.bg .picture picture
    {
        display: none;
    }    
}

@media(max-width:776px)
{
    .preview.bg .picture::before
    {
        display: block;
    }    

    .preview.bg .picture picture
    {
        display: block;
    } 
}

.preview.bg + .preview.bg
{
    margin-top: var(--gap);
}


.preview.bg .post-content
{
    position: absolute;
    bottom: var(--gap);
    left: calc(var(--gap)/2);
    right: calc(var(--gap)/2);
    z-index: 2;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 12px;
}

@media(max-width:996px)
{
    .preview.bg .post-content
    {
        position: static;
    }
}

@media(max-width:776px)
{
    .preview.bg .post-content
    {
        position: absolute;
    }
}

.preview.bg .post-content::before
{
    content: '';
    position: absolute;
    top: calc(-1 * var(--gap)/2);
    left: 0;
    width: 40px;
    height: 1px;
    background: var(--white);
    display: block;
    z-index: 3;
}

@media(max-width:996px)
{
    .preview.bg .post-content::before
    {
        display: none;
    }
}

@media(max-width:776px)
{
    .preview.bg .post-content::before
    {
        display: block;
    }
}

.preview.bg .post-content time
{
    color: var(--white);
}

@media(max-width:996px)
{
    .preview.bg .post-content time
    {
        color: var(--red);
    }
}

@media(max-width:776px)
{
    .preview.bg .post-content time
    {
        color: var(--white);
    }
}

.preview.bg .post-content h1 a
{
    color: var(--white);
    font-weight: 800;
}

@media(max-width:996px)
{
    .preview.bg .post-content h1 a
    {
        color: var(--red);
    }
}

@media(max-width:776px)
{
    .preview.bg .post-content h1 a
    {
        color: var(--white);
        font-weight: 800;
    }
}
/* пост з картинкою */