/* 3 рівних анонса */
.posts-3
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr;
    gap: var(--gap) calc(var(--gap)/2*3);
    grid-template-areas: 
        'post-3-title post-3-title post-3-title'
        'post-3-1 post-3-2 post-3-3'
}

@media(max-width:996px)
{
    .posts-3
    {
        /* display: grid; */
        grid-template-columns: repeat(2,1fr);
        /* gap: var(--gap) calc(var(--gap)/2*3); */
        grid-template-areas: 
            'post-3-title post-3-title'
            'post-3-1 post-3-2'
    }    
}

@media(max-width:500px)
{
    .posts-3
    {
        /* display: grid; */
        /* grid-template-columns: repeat(3,1fr); */
        grid-template-rows: auto;
        /* gap: var(--gap) calc(var(--gap)/2*3); */
        grid-template-areas: 
            'post-3-title post-3-title'
            'post-3-1 post-3-1'
            'post-3-2 post-3-3'
    }    
}

.posts-3 .title 
{
    grid-area: post-3-title;
}

.posts-3 .post:nth-of-type(1)
{
    grid-area: post-3-1;
}

.posts-3 .post:nth-of-type(2)
{
    grid-area: post-3-2;
}

.posts-3 .post:nth-of-type(3)
{
    grid-area: post-3-3;
}

@media(max-width:996px)
{
    .posts-3 .post:nth-of-type(3)
    {
        display: none;
    }    
}

@media(max-width:500px)
{
    .posts-3 .post:nth-of-type(3)
    {
        display: block;
    }   
    
    .posts-3 .post:nth-of-type(2) h1,
    .posts-3 .post:nth-of-type(3) h1
    {
        font-size: 18px;
        line-height: 21px;
    }
}

.posts-3 p 
{
    font-size: 14px;
    line-height: 20px;
}