/* окремий пост */
.post 
{
    position: relative;
}

.post h1
{
    font-size: 21px;
    line-height: 24px;
    font-weight: 700; /* bold */
    color: var(--black);
}

/* примусово зменшую шрифт, бо на смартфоні довгі слова розпираються екран */
@media(max-width:360px)
{
    .post h1
    {
        font-size: 17px!important;
    }
}

.post h1 a 
{
    text-decoration: none;
    color: var(--black);
    display: block;
    transition: .5s;
    /* костиль */
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.post h1 a:hover, 
.post h1 a:focus 
{
    color: var(--red);
}

.post .picture 
{
    margin: 0 0 var(--gap);
}

.post p 
{
    font-size: 14px;
    line-height: 20px;
}