@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root
{
    --white: #fff;
    --red: #991607;
    --black: #000;
    --red-dirty: linear-gradient(90deg,#97473e, #723832);
    --red-border : #ad7a75; /* search-ads border */


    --gray1: #f6f7f8; /* aside bg */
    --gray2: #eeeff1; /* border */
    --gray3: #5d595b; 
    --gray4: #e6e6e6; /* лінія між постами в асайді */
    --gray5: #999; /* date */
    --footer-bg: #434a54;
    


    --gap: 20px;


    /* мітка, кнопка */
    --red-gradient: linear-gradient(320deg, #5d1f17, #ae1201);

    /* поля у блоці "пошук оголошень" */
    --red-input:  linear-gradient(90deg,#aa6b64, #a56962);

    --white-button: linear-gradient(90deg, #fff, #cbcfd9);
}

html, body
{
    height: 100%;
}

body
{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

hr 
{
    border: none;
    border-top: 1px solid var(--gray2);
    margin: var(--gap) 0;
}

picture img,
picture source
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* пропорційні картинки */
.picture
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.picture picture
{
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picture picture img
{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}
/* пропорційні картинки */

button,
.button
{
    background: var(--red-gradient);
    display: inline-block;
    padding: 13px 22px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.center 
{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* основна шпальта */
.wrapper
{
    width: 1300px;
    margin: auto;
}

@media(max-width: 1340px)
{
    .wrapper
    {
        width: 95%;
    }
}
/* основна шпальта */


