
/*///////////////////
// пошук оголошень //
///////////////////*/

.search-ads 
{
    background: var(--red-dirty);
    padding: 70px 0 50px;
}

@media(max-width:500px)
{
    .search-ads 
    {
        padding: 40px 0 50px;
    }    
}

.search-ads .wrapper 
{
    display: grid;
    gap: var(--gap);    
}

@media(max-width:776px)
{
    .search-ads .wrapper 
    {
        width: calc(100% - 70px);
    }    
}

@media(max-width:500px)
{
    .search-ads .wrapper 
    {
        width: 95%;
    }    
}

/* 4 автономні блоки -- заголовок, пошук, вивід, кнопка */

/* 1. */
.search-ads .title
{
    color: var(--white);
}

/* 2. поля пошуку */
.search-ads-header
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calc(var(--gap)/2*3) var(--gap); 
}

@media(max-width:996px)
{
    .search-ads-header
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:500px)
{
    .search-ads-header
    {
        grid-template-columns: 1fr;
    }
}

/* поля та селект */
.search-ads input,
.search-ads select 
{
    background: var(--red-input);
    display: block;
    width: 100%;
    appearance: none;
    border: none;
    padding: 13px 22px;
    font-weight: 500;
    border: 1px solid transparent;
    outline: none;
    color: var(--white);
}

.search-ads option
{
    color: var(--red);
}

.search-ads input::placeholder
{
    color: var(--white);
}

.search-ads input:focus,
.search-ads select:focus 
{
    border-color: var(--white);
}

.search-ads select
{
    cursor: pointer;
}

/* 148 знайдених оголошень */
.search-ads-output
{
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 5px;
    grid-column: 1 / -2;
}

/* кнопка пошуку */
.search-ads button 
{
    background: var(--white-button);
    color: var(--red);
    display: block;
    width: 100%;
}

/* 3. вивід артиклів */
.search-ads-main
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calc(var(--gap)/2*3) var(--gap);
}

@media(max-width:996px)
{
    .search-ads-main
    {
        grid-template-columns: repeat(2,1fr);
    }    
}

@media(max-width:500px)
{
    .search-ads-main
    {
        grid-template-columns: 1fr;
    }      
}

.search-ads-main .post
{
    border: 1px solid var(--red-border);
}

/* ховаємо 2 останніх */
@media(max-width:500px)
{
    .search-ads-main .post:nth-last-of-type(1),
    .search-ads-main .post:nth-last-of-type(2)
    {
        display: none;
    }    
}

.search-ads-main .picture 
{
    margin: -1px -1px var(--gap);
    width: calc(100% + 2px);
}

.search-ads-main h1 
{
    padding: 0 var(--gap);
}

.search-ads-main h1 a,
.search-ads-main h1 a:hover,
.search-ads-main h1 a:focus
{
    color: var(--white);
}

.search-ads-main .service-data
{
    padding: 0 var(--gap);
}

.search-ads-main .service-data time
{
    font-weight: 500;
    color: var(--white);
    font-size: 14px;
}

.search-ads-main .service-data span
{
    background: var(--white-button);
    color: var(--red);
}

.search-ads-main p 
{
    padding: 0 var(--gap) var(--gap);
    color: var(--white);
}

.search-ads-main p strong
{
    display: block;
    font-size: 21px;
    margin: calc(var(--gap)/2) 0 0;
}

/* 4. кнопка "усі оголошення" */
.search-ads .button 
{
    width: 300px;
    background: var(--white-button);
    color: var(--red);
}

@media(max-width:380px)
{
    .search-ads .button 
    {
        width: 260px;
    }    
}