/* соціальні групи є і в хедері, і у футері */
.social 
{
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.social li 
{
    display: block;
}

.social li a 
{
    text-decoration: none;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.social li a svg 
{
    fill: var(--gray3);
    transition: .5s;
}

.social li a:hover svg 
{
    fill: var(--white);
}

/* у футері просто білі */
#footer .social li a svg,
#footer .social li a:hover svg,
#footer .social li a:focus svg
{
    fill: var(--white);
}

/* соціальні групи є і в хедері, і у футері */