
/* //////////////////////////
// блок у центрі (помилки) //
////////////////////////// */

#view
{
    height: calc(100vh - 106px - 299px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#view section
{
    text-align: center;
    padding: 0 var(--gap);
}